body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

.row {
    margin: 0;
}

.container-fluid {
    height: 100%;
    padding: 0;
    margin: 0;
}

.bg-light {
    background-color: #990000!important;
}

.btn i {
    color: #f2f2f2;
}


.navbar-light .navbar-toggler-icon {
    color: #f2f2f2;
}


.navbar-toggler {
    padding: 0rem 0rem;
    font-size: 1.5rem;
    line-height: 1;
    background-color: #990000;
    border: none;
    border-radius: 50%;
}

.navbar-nav {
    margin-left: 40%;
    font-size: 25px;
    list-style: none;
}


.nav-link {
    width: 100%;
    margin: 5px 20px;
    color: #ffffff;
    color: #f2f2f2 !important;
}

#carouselExampleSlidesOnly {
    height: 100%;
    width: 100%;
    padding: 0;
}


/**** footer ***/

#footer {
    height: auto;
    bottom: 0;
    padding: 0;
    margin: 0;
    background-color: #990000;
    width: 100%;
    position: static;
}

.col-sm-4 {
    width: 100%;
    text-align: center;
    color: #f2f2f2;
}

.col-sm-4 a i {
    color: #f2f2f2;
}

/********menu*******/

#menu {
    background-image: url(img/front.jpeg);
    position: static;
    margin: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.col-sm-12 {
    width: auto;
    margin: 30px 0px;
    float: right;
}

.card {
    font-family: 'Playfair Display', serif;
    background-color: rgba(255, 255, 255, 0.4);
    color: #000000;
    word-spacing: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

}

table {
    width: 50%;
    margin-left: 20%;
    height: 20%;
}

td {
    padding: 15px;
}


/*offer*/

.offer {
    padding: 0;
    width: 100%;
    background-image: url(img/drink.jpeg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}

.col-sm-12 {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.btn {
    margin-left: 0%;
    background-color: #990000;
}

/*contact*/

.contact {
    font-size: large;
    font-weight: bolder;
    position: static;
    color: #990000;
    height: auto;
    background-image: url(img/burger.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 2%;
    padding: 0;
}

#contact {padding: 40px;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.2);
    height: auto;
    color: #f2f2f2;
    margin-top: 10px;
    margin-left: 20%;
}

#bc {
    margin-top: 2%;
}

/*join Us*/

.join-us {
    margin-top: 3%;
    background-image: url(img/job.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #990000;
}

#job {
    width: 50%;
    font-size: large;
}

h6 {
    font-size: x-large;
}
