body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif, arial;
}

.container-fluid {
    height: 100%;
    padding: 0;
    margin: 0;
}

.bg-light {
    background-color: #990000!important;
}

.btn i {
    color: #f2f2f2;
}


.navbar-light .navbar-toggler-icon {
    color: #f2f2f2;
}


.navbar-toggler {
    padding: 0rem 0rem;
    font-size: 1.5rem;
    line-height: 1;
    background-color: #990000;
    border: none;
    border-radius: 50%;
}

.navbar-nav {margin-left: 40%;
    font-size: 15px;
    list-style: none;
}


.nav-link {
    width: 100%;
    margin: 5px 20px;
    color: #ffffff;
    color: #f2f2f2 !important;
}


/**** footer ***/

#footer {
    position: relative;
    margin: 0;
    background-color: #990000;
    bottom: 0;
    width: 100%;
}

.col-md-4 {
    text-align: center;
    color: #f2f2f2;
    display: block;
}

.col-md-4 a i {
    color: #f2f2f2;
}

/********menu*******/

#menu {
    background-image: url(img/front.jpeg);
    position: static;
    margin: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.col-sm-12 {
    width: auto;
    margin: 30px 0px;
    float: right;
}

.card {
    font-family: 'Playfair Display', serif;
    background-color: rgba(255, 255, 255, 0.4);
    color: #000000;
    word-spacing: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

}

table {
    width: 50%;
    margin-left: 20%;
    height: 20%;
}

td {
    padding: 15px;
}


/*offer*/

.offer {
    padding: 0;
    width: 100%;
    background-image: url(drink.jpeg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}

.col-sm-12 {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.btn {
    margin-left: 0%;
    background-color: #990000;
}
/*contact*/

.contact{text-align: center;}
.form-group{ width: 60%; margin-left:20%;}



