html body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F7E9D4!important;
    font-family: 'Mansalva', cursive;
}

/*navigation bar style*/

.bg-light {
    background-color: rgb(255, 224, 102)!important;
}

.btn i {
    color: #8601AF;
}


.navbar-light .navbar-toggler-icon {
    color: #8601AF;
}


.navbar-toggler {
    color: #8601AF;
    padding: 0rem 0rem;
    font-size: 1.0rem;
    line-height: 1;
    border: none;
}

.navbar-nav {
    margin-left: 8%;
    font-size: 40px;
    list-style: none;
}


.nav-link {
    font-weight: bolder;
    border-radius: 30px;
    font-size: 1.0rem;
    margin: 0px 25px;
    color: #000000;
    transition: background-color 1s;
    -webkit-transition: background-color font-size 1s;
}

.nav-link:hover {
    font-weight: bolder;
    border-radius: 30px;
    font-size: 1.2rem;
    margin: 0px 25px;
    color: #000000;
    background-color: rgba(0, 172, 230, 0.3);
}

/***contant style Home page***/

#food img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    border-style: groove;
}

.focus {
    position: absolute;
    width: 100%;
    height: auto;
    top: 120px;
    left: 10px;
    text-align: center;
  
}



.focus button{font-size:10px; border-color: transparent; Background-color:transparent;
-webkit-animation:light 1s ease-in-out infinite alternate;
  -moz-animation: light 1s ease-in-out infinite alternate;
  animation: light 1s ease-in-out infinite alternate;}
  
  @-webkit-keyframes light {
  from {
    text-shadow: 0 1px 10px red, 0 0 20px blue, 0 0 30px green, 0 0 40px yellow, 0 0 50px gold, 0 0 60px silver, 0 0 70px pink;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.focus button a{text-decoration: none; color: #ffffff;}

@media (min-width:320px) {
    .focus {
        Color: #F7E9D4;
        position: absolute;
        width: 50%;
        height: auto;
        top: 10px;
        left: 95px;
    }
    .focus h6+button {
        font-size: 10px;
    }
}

@media (min-width:480px) { .focus {
        Color: #F7E9D4;
        position: absolute;
        width: 50%;
        height: auto;
        top: 15px;
        left: 125px;
    }
    .focus h6+button {
        font-size: 15px;
    }
    /* smartphones, Android phones, landscape iPhone */
}

@media (min-width:600px) {.focus {
        Color: #F7E9D4;
        position: absolute;
        width: 50%;
        height: auto;
        top: 35px;
        left: 170px;
    }
    .focus h6{
        font-size: 40px;
    }
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width:801px) {.focus {
        Color: #F7E9D4;
        position: absolute;
        width: 50%;
        height: auto;
        top: 55px;
        left: 195px;
    }
    .focus h6{
        font-size: 40px;
    }
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {.focus {
        Color: #F7E9D4;
        position: absolute;
        width: 50%;
        height: auto;
        top: 80px;
        left: 250px;    }
    .focus h6{
        font-size: 60px;
    }
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}


#about .col-sm-6 {
    height: auto;
    padding: 20px;
}

#about .col-sm-6 img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    border-style: dashed;
}

/**** footer style***/

#footer {
    padding: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;

}

.col-sm-4 H6 {
    margin: 10px;
    font-size: 14px;
    width: 100%;
    text-align: center;
    color: #00ace6;
    text-transform: uppercase;
}

.col-sm-4 {
    margin-top: 10px;
    font-weight: bolder;
    font-size: 15px;
    width: 100%;
    text-align: center;
    color: #ff9999;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.col-sm-4 a i {
    text-align: center;
    color: #ff9999;
}

.col-sm-4 button{margin: 10px; background-color: transparent;padding:5px;border-radius: 10px;}






















/********menu*******/
#burgermenu img{width: 100%;height: auto;}
th{font-weight: 900;}

/*offer*/

.offer {
    padding: 0;
    width: 100%;
    background-image: url(img/drink.jpeg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}

.col-sm-12 {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.btn {
    margin-left: 0%;
    background-color: transparent;
}

/*contact*/

.contact {
    font-size: large;
    font-weight: bolder;
    position: static;
    color: #990000;
    height: auto;
    background-image: url(img/burger.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 2%;
    padding: 0;
}

#contact {
    padding: 40px;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.2);
    height: auto;
    color: #f2f2f2;
    margin-top: 10px;
    margin-left: 20%;
}

#bc {
    margin-top: 2%;
}

/*join Us*/

.join-us {
    margin-top: 3%;
    background-image: url(img/job.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #990000;
}

#job {
    width: 50%;
    font-size: large;
}

h6 {
    font-size: x-large;
}
