html {
 padding: 0;
 margin: 0;
}

body {
 height: 100%;
 margin: 0;
 padding: 0;
 background: rgba(243, 226, 199, 1);
 font-family: 'Mansalva', cursive;
}

/*navigation bar style*/

.bg-light {
 background-color: rgb(255, 224, 102) !important;
}

.btn i {
 color: #8601AF;
}

.navbar-light .navbar-toggler-icon {
 color: #8601AF;
}

.navbar-toggler {
 color: #8601AF;
 font-size: 10vw;
 border: none;
}

.navbar-nav {
 margin-left: 20%;
 list-style: none;
}

.nav-item {
 padding: 5px 30px;
}

.nav-link {
 font-size: 2vw;
 border-radius: 30px;
 display: block;
 padding: 0.5rem 5rem;
 color: #ffffff!important;
 -webkit-transition: background-color 1s;
 -o-transition: background-color 1s;
 transition: background-color 1s;
}

.nav-link:hover {
 background-color: #ffffff;
 font-size: 2vw;
 display: block;
 padding: 0.5rem 1rem;
 color: #9A0794!important;
}

/***contant style Home page***/

.container-fluid {
 padding: 0;
 margin-top: 120px;
}

#food img {
 top: 10px;
 width: 100%;
 height: auto;
 border-radius: 10%;
 border-style: none;
 -webkit-filter: drop-shadow(10px 10px rgba(0, 0, 0, 0.1));
 filter: drop-shadow(10px 10px rgba(0, 0, 0, 0.1));
}

#food {
 margin-top: 6vw;
}

#food img {
 width: 100%;
 height: auto;
 border-radius: 30px;
 border-style: groove;
}

.focus {
 position: absolute;
 height: auto;
 top: 120px;
 left: 10px;
 text-align: center;
}

.focus button a {
 font-size: 15px;
 border-color: transparent;
 Background-color: transparent;
 -webkit-animation: light 1s ease-in-out infinite alternate;
 animation: light 1s ease-in-out infinite alternate;
}

@keyframes light {
 from {
  text-shadow: 0 1px 10px red, 0 0 20px blue, 0 0 30px green, 0 0 40px yellow, 0 0 50px gold, 0 0 60px silver, 0 0 70px pink;
 }
 to {
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
 }
}

.focus button a {
 text-decoration: none;
 color: #ffffff;
}



#about .col-sm-6 P {
 font-size: 1vw;
 height: auto;
 padding: 20px;
}

#about .col-sm-6 img {
 width: 100%;
 height: auto;
 border-radius: 30px;
 border-style: dashed;
}



.focus button {
 border-style: none;
 font-size: 15px;
 border-color: transparent;
 Background-color: transparent;
 -webkit-animation: light 1s ease-in-out infinite alternate;
 animation: light 1s ease-in-out infinite alternate;
}

@-webkit-keyframes light {
 from {
  text-shadow: 0 1px 10px red, 0 0 20px blue, 0 0 30px green, 0 0 40px yellow, 0 0 50px gold, 0 0 60px silver, 0 0 70px pink;
 }
 to {
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
 }
}

@keyframes light {
 from {
  text-shadow: 0 1px 10px red, 0 0 20px blue, 0 0 30px green, 0 0 40px yellow, 0 0 50px gold, 0 0 60px silver, 0 0 70px pink;
 }
 to {
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
 }
}

.focus button a {
 text-decoration: none;
 color: #ffffff;
}

#intro {
 padding: 5vw;
 text-align: justify;
}

.h4 {
 color: #525200;
 font-size: 6vw;
 font-weight: 600;
 line-height: 1.2;
 text-align: center;
 text-transform: uppercase;
}

.mytext {
 color: #34090C;
}

.focus {
 position: absolute;
 width: 100%;
 height: auto;
 top: 120px;
 left: 10px;
 text-align: center;
}

.carousel-caption {
 font-size: 2vw;
 position: absolute;
 right: 15%;
 bottom: 20px;
 left: 15%;
 z-index: 10;
 padding-top: 20px;
 padding-bottom: 20px;
 color: #ffff00;
 text-align: center;
}

#frontcover {
 background-color: #000000;
 padding: 0px;
 margin: 0px;
}

video {
 padding-top: 10px;
 background-color: black;
 width: 100%;

}

.midcover {
 padding: 0%;
 margin: 0%;
 background-image: url("img/bg2.jpg");
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 400px;
 background-attachment: scroll;
}

.midcover-p1 {
 padding: 20px 70px;
}

.midcover-p1 .h1 {
 color: red;
 animation: flash 1s infinite
}

@keyframes flash {
 0% {
  opacity: 1.00;
 }
 50% {
  opacity: 0.0;
 }
 100% {
  opacity: 1.0;
 }
}

.midcover-p1 .h5 {
 color: #ff80ff;
 line-height: 70px;
}

/********menu*******/

.menu {
 color: #006e47;
 text-align: center;
 margin: 10px 0px;
}

.menuhead {
 color: #990099;
 font-size: 40px;
 width: 100%;
 margin-top: 60px;
 margin-bottom: 20px;
 background-color: rgba(209, 31, 102, 0.3);
 text-align: center;
}


.menuhead h4 {
 font-size: 7vw;
}

.col-sm-6 {
 color: #006e47;
}

/*offer*/

.offerzone {
 padding: 20px;
}

#custjumbo1 {
 background-image: url(assets/img/sub.jpeg);
 background-repeat: no-repeat;
 background-size: cover;
 padding: 20px;
}

.custjumbo2 {
 background-image: url(assets/img/fries.jpeg);
 background-repeat: no-repeat;
 background-size: cover;
 padding: 20px;
}

.custjumbo3 {
 background-color: gray;
 padding: 20px;
}

.custjumbo4 {
 background-color: skyblue;
 padding: 20px;
}

/***contact**/

#contact {
 margin: 10%;
 padding-top: 15%
}

#contact .h4 {
 border-radius: 10px;
 background-color: rgba(0, 200, 0, 0.1);
}

iframe {
 height: 100%;
 width: 100%;
}

/*join Us*/



/**** footer style***/

#footer {
 padding: 0%;
 bottom: 0%;
 margin: 0%;
 background-color: rgba(0, 0, 0, 0.8);
 width: 100%;
 position: relative;
}

#footer .col-sm-4 H6 {
 padding: 0;
 margin: 10px;
 font-size: 14px;
 width: 100%;
 text-align: center;
 color: #00ace6;
 text-transform: uppercase;
}

#footer .col-sm-4 {
 margin-top: 10px;
 font-weight: bolder;
 font-size: 15px;
 width: 100%;
 text-align: center;
 color: #ff9999;
 letter-spacing: 1px;
 text-transform: uppercase;
}

.col-sm-4 a i {
 text-align: center;
 color: #ff9999;
}

/** Media Querry**/

@media (min-width: 320px) {

 /**index pg**/
 .focus {
  Color: #F7E9D4;
  position: absolute;
  width: 50%;
  height: auto;
  top: 15px;
  left: 80px;
 }
 .focus h6+button {
  font-size: 10px;
 }



 .midcover-p1 {
  margin-top: 40px;
  padding: 20px 20px;
  text-align: center;
  font-size: 10px;
 }

 .midcover-p1 .h1 {
  font-size: 20px;
  color: red;
  animation: flash 1s infinite
 }


 .midcover-p1 .h5 {
  color: #ff80ff;
  line-height: 20px;
 }

}

@media (min-width: 480px) {
 .focus {
  font-size: 20px;
  Color: #F7E9D4;
  position: absolute;
  width: 50%;
  height: auto;
  top: 25px;
  left: 125px;
 }
 .focus h6 {
  font-size: 30px;
 }
 .focus button a {
  font-size: 25px;
 }

 .midcover-p1 {
  padding: 20px 20px;
  text-align: center;
  font-size: 10px;
 }
 .midcover-p1 .h1 {
  color: red;
  animation: flash 1s infinite
 }


 .midcover-p1 .h5 {
  color: #ff80ff;
  line-height: 40px;
 }

 /* smartphones, Android phones, landscape iPhone */
}




@media (min-width: 600px) {
 .focus {
  Color: #F7E9D4;
  position: absolute;
  width: 50%;
  height: auto;
  top: 35px;
  left: 160px;
 }
 .focus h6 {
  font-size: 40px;
 }

 #about .col-sm-6 .H4 {
  font-size: 1vw;
  height: auto;
  padding: 20px;
 }

 .mytext {
  font-size: 2vw;
  color: #34090C;
 }

 .midcover-p1 {
  padding: 20px 40px;
  text-align: center;
  font-size: 20px;
 }
 .midcover-p1 .h1 {
  color: red;
  animation: flash 1s infinite
 }

 .midcover-p1 .h5 {
  color: #ff80ff;
  line-height: 30px;
  text-align: justify;
 }

 #contact .h4 {
  font-size: 20px;
  border-radius: 10px;
  background-color: rgba(0, 200, 0, 0.1);
 }

}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

@media (min-width: 801px) {
 .focus {
  Color: #F7E9D4;
  position: absolute;
  width: 50%;
  height: auto;
  top: 55px;
  left: 195px;
 }
 .focus h6 {
  font-size: 40px;
 }

 .teg {
  font-weight: bolder;
  font-size: 2.5vw;
  height: auto;
  padding: 20px;
  text-align: center;
 }

 .mytext {
  font-size: 2vw;
  color: #34090C;
 }

 .store {
  padding-top: 40px;
 }

 .midcover-p1 {
  padding: 20px 60px;
  text-align: center;
  font-size: 20px;
 }

 .midcover-p1 .h1 {
  font-size: 40px;
  color: red;
  animation: flash 1s infinite
 }

 .midcover-p1 .h5 {
  color: #ff80ff;
  line-height: 40px;
  text-align: justify;
 }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */

@media (min-width: 1025px) {
 .focus {
  Color: #F7E9D4;
  position: absolute;
  width: 50%;
  height: auto;
  top: 50px;
  left: 250px;
 }
 .focus h6 {
  font-size: 60px;
 }
 .focus h6+button>a {
  font-size: 60px;
 }
 .store {
  padding-top: 30px;
 }

 .navbar-nav {
  margin-left: 20%;
  list-style: none;
 }

 .midcover .h1 {
  font-size: 20px;
 }

 #contact {
  margin: 5%;
  padding-top: 5%;
 }
 #contact .h4 {
  font-size: 40px;
  border-radius: 10px;
  background-color: rgba(0, 200, 0, 0.1);
 }
 /* big landscape tablets, laptops, and desktops */
}


@media (min-width: 1281px) {
 .focus {
  Color: #F7E9D4;
  position: absolute;
  width: 50%;
  height: auto;
  top: 70px;
  left: 320px;
 }
 .focus h6 {
  font-size: 60px;
 }
 .focus h6+button>a {
  font-size: 60px;
 }
 .store {
  padding-top: 30px;
 }

 .navbar-nav {
  margin-left: 30%;
  list-style: none;
 }
 /* hi-res laptops and desktops */
}
